<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h1>Простите</h1>
                    <p>Необходимо войти в аккаунт для просмотра данной страницы.</p>
                </NotAuthorized>
                <Authorizing>
                    <Row Justify="center">
                        <AntDesign.Col>
                            <Spin Spinning="true" Tip="Авторизация..." Size="large" />
                        </AntDesign.Col>
                    </Row>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <Result Status="404"
                        Title="Такая страница не найдена">
                    <Extra>
                        <NavLink href="/">
                            <Button Type="@ButtonType.Primary">
                                Вернуться на главную страницу
                            </Button>
                        </NavLink>
                    </Extra>
                </Result>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<AntContainer />
